.list {
  display: flex;
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;

  font-weight: 600;
}

.item {
  display: block;
  width: 100%;

  background-color: #FFFFFF;
  border: 1px solid #DFE5EC;
  border-left: none;

  cursor: pointer;

  &:first-child {
    border-left: 1px solid #DFE5EC;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.item--selected {
  color: #FFFFFF;
  background-color: #2196F3;
  border: 1px solid #2196F3;
}

.label {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}